<!doctype html>
<html>
  <head>
    <title>Add Partner</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <style></style>
  </head>

  <body>
    <div class="partner-form-container">
      <h1>Add Partner & Supporter</h1>

      <form method="POST" enctype="multipart/form-data">
        <label>Partner / Supporter Name</label>

        <input
          type="text"
          name="name"
          placeholder="Enter partner name"
          required
        />

        <label>Partner Logo / Image</label>

        <input type="file" name="image" accept="image/" required />

        <button type="submit">Add Partner</button>
      </form>

      <a href="/partner/manage" class="back-btn"> ← Back to Manage Partners </a>
    </div>
  </body>
</html>
