<!doctype html>
<html lang="en">
  <head>
    <title>Donate</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">Project Mehar</div>

      <ul>
        <li><a href="/">Home</a></li>

        <li><a href="/programs">Programs</a></li>
        <li><a href="/team">Our Team</a></li>
        <li><a href="/gallery">Gallery</a></li>

        <li><a href="/about">About</a></li>

        <li><a href="/contact">Contact</a></li>
      </ul>
      <li>
        <a id="donate" href="/donate" onclick="trackClick('Home', 'Donate')"
          >Donate</a
        >
      </li>
    </nav>
    <!-- Donate Section -->

    <section class="donate">
      <h1>Support Our Mission</h1>

      <p>
        Every donation helps us provide education, books, school bags and a
        brighter future for street children.
      </p>

      <div class="donate-box">
        <div class="left">
          <img
            src="{{ url_for('static', filename='images/' + donation[6]) }}"
            width="250"
          />
        </div>

        <div class="right">
          <h2>Donation Details</h2>

          <p><b>UPI ID:</b> {{ donation[1] }}</p>

          <p><b>Account Name:</b>{{ donation[2] }}</p>

          <p><b>Bank:</b> {{ donation[3] }}</p>

          <p><b>Account No:</b>{{ donation[4] }}</p>

          <p><b>IFSC:</b>{{ donation[5] }}</p>
        </div>
      </div>
    </section>

    <!--Footer-->

    <footer class="site-footer">
      <div class="footer-main">
        <!-- NGO BRAND -->
        <div class="footer-brand">
          <div class="footer-logo">
            <span>💙</span>
            <h2>Project Mehar</h2>
          </div>

          <p>
            Project Mehar is working to provide education, support and better
            opportunities to underprivileged children and communities.
          </p>
          <div class="footer-social">
            <a
              href="https://www.instagram.com/project.mehar?igsh=cmEwd3FzemRiaTI4"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>

        <!-- EXPLORE -->
        <div class="footer-column">
          <h3>Explore</h3>

          <a href="/">Home</a>
          <a href="/about">About Us</a>
          <a href="/programs">Our Programs</a>
          <a href="/gallery">Gallery</a>
          <a href="/team">Our Team</a>
          <a href="/contact">Contact Us</a>
        </div>

        <!-- OUR INITIATIVES -->
        <div class="footer-column">
          <h3>Our Initiatives</h3>

          <a href="/programs">Children Education</a>
          <a href="/programs">Book Distribution</a>

          <a href="/programs">Career Guidance</a>
          <a href="/programs">Community Support</a>
        </div>

        <!-- CONTACT -->
        <div class="footer-column footer-contact">
          <h3>Get In Touch</h3>

          <p>📍 India</p>

          <p>📧 project.mehar@gmail.com</p>

          <p>📞 +91 XXXXX XXXXX</p>

          <a href="/contact" class="footer-contact-btn"> Contact Us → </a>
        </div>
      </div>

      <!-- DONATION CTA -->

      <div class="footer-cta">
        <div>
          <h2>Help Us Build a Brighter Future</h2>

          <p>
            Your small contribution can help a child learn, grow and dream
            bigger.
          </p>
        </div>

        <a href="/donate" onclick="trackClick('Home', 'Donate')">
          Donate Now
        </a>
      </div>

      <!-- BOTTOM -->

      <div class="footer-bottom">
        <p>© 2026 <strong> Project Mehar</strong>. All Rights Reserved.</p>

        <div class="footer-policy">
          <a href="#">Privacy Policy</a>

          <span>|</span>

          <a href="#">Terms & Conditions</a>

          <span>|</span>

          <a href="/contact">Contact</a>
        </div>
      </div>
    </footer>
  </body>
</html>
