<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/css/admin.css" />
  <title>Team Edit</title>
</head>
<body>
  
    <div class="sidebar">
      <h2> Project Mehar</h2>
      <a href="/dashboard">🏠 Dashboard</a>
      <a href="/gallery">🖼 Gallery</a>
      <a href="/gallery/upload">📤 Manage Gallery</a>
      <a href="/messages">📞 View Messages</a>
      
        <a href="/manage-news"> 📰 Manage News </a>
      </li>
      <li><a href="/manage-team">💡Manage Team</a></li>
      <li><a href="/manage-donation">❤️ Manage Donation</a></li>
      <li>
        <a href="/partner/manage"> 🤝 Partners </a>
      </li>
      <a href="/analytics-dashboard">
    📊 Website Analytics
</a>
      <a href="/logout">🚪 Logout</a>
    </div>

  <div class="main">
      <h2>Edit Team Member</h2>

    <div class="edit-team">
<form method="POST" enctype="multipart/form-data">
  <input type="text" name="name" value="{{ member[1] }}" />

  <br /><br />

  <input type="text" name="designation" value="{{ member[2] }}" />

  <br /><br />

  <textarea name="description">{{ member[4] }}</textarea>

  <br /><br />

  <img
    src="{{ url_for('static',filename='images/' + member[3]) }}"
    width="120"
  />

  <br /><br />

  <input type="file" name="image" />

  <br /><br />

  <button>Update</button>
</form>

    </div>
  </div>
</body>
</html>