<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Upload Gallery</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin.css') }}"
    />
  </head>

  <body>
    <div class="sidebar">
      <h2>Bright Future</h2>

      <a href="/dashboard">🏠 Dashboard</a>

      <a href="/gallery">🖼 Gallery</a>

      <a href="/gallery/upload">📤 Manage Gallery</a>

      <a href="/messages">📞 View Messages</a>

      <a href="/manage-news">📰 Manage News</a>

      <a href="/manage-team">💡 Manage Team</a>

      <a href="/manage-donation">❤️ Manage Donation</a>

      <a href="/partner/manage">🤝 Partners</a>

      <a href="/logout">🚪 Logout</a>
    </div>

    <div class="main">
      <h1>Manage Gallery</h1>

      <hr />

      <h2>Upload New Gallery</h2>

      <form
        action="{{ url_for('gallery.gallery_upload') }}"
        method="POST"
        enctype="multipart/form-data"
      >
        <label> Gallery Title </label>

        <br />

        <input
          type="text"
          name="title"
          placeholder="Example: School Bag Distribution"
          required
        />

        <br /><br />

        <label> Select Multiple Photos </label>

        <br />

        <input type="file" name="images" multiple accept="image/*" required />

        <br /><br />

        <button type="submit">Upload Photos</button>
      </form>

      <br />

      <a href="{{ url_for('gallery.gallery_manage') }}"> Manage Gallery </a>
    </div>
  </body>
</html>
