<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <title>Edit Gallery</title>
  </head>

  <body>

    <div class="sidebar">
      <h2> Project Mehar</h2>
      <a href="/dashboard">🏠 Dashboard</a>
      <a href="/gallery">🖼 Gallery</a>
      <a href="/gallery/upload">📤 Manage Gallery</a>
      <a href="/messages">📞 View Messages</a>
      
        <a href="/manage-news"> 📰 Manage News </a>
      </li>
      <li><a href="/manage-team">💡Manage Team</a></li>
      <li><a href="/manage-donation">❤️ Manage Donation</a></li>
      <li>
        <a href="/partner/manage"> 🤝 Partners </a>
      </li>
      <a href="/analytics-dashboard">
    📊 Website Analytics
</a>
      <a href="/logout">🚪 Logout</a>
    </div>

    
    <div class="main">
      
    <h2>Edit Gallery Image</h2>
<div class="gallery-edit-box">
  
    <form method="POST" enctype="multipart/form-data">
      <label> Gallery Title </label>

      <br /><br />

      <input type="text" name="title" value="{{ photo[1] }}" required />

      <br /><br />

      <label> Current Image </label>

      <br /><br />

      <img
        src="{{ url_for(
            'static',
            filename='uploads/gallery/' + photo[2]
        ) }}"
         width="250"
         height="400px"
      />

      <br /><br />

      <label> New Image (Optional) </label>

      <br /><br />

      <input type="file" name="image" accept="image/*" />

      <br /><br />

      <button type="submit">Update</button>
    </form>

    <br />

    <a style="background:red;
      padding: 2px 10px 2px 10px;
        box-shadow: 0 0 12px black;
        color: #fdfeff;"  href="{{ url_for('gallery.gallery_manage') }}"> Back to Gallery </a>
</div>
    </div>
  </body>
</html>
