<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
   <link rel="stylesheet" href="../static/css/admin.css">
    <title>Manage Gallery</title>
  </head>

  <body>
    
    <div class="sidebar">
      <h2> Project Mehar</h2>
      <a href="/dashboard">🏠 Dashboard</a>
      <a href="/gallery">🖼 Gallery</a>
      <a href="/gallery/upload">📤 Manage Gallery</a>
      <a href="/messages">📞 View Messages</a>
      
        <a href="/manage-news"> 📰 Manage News </a>
      </li>
      <li><a href="/manage-team">💡Manage Team</a></li>
      <li><a href="/manage-donation">❤️ Manage Donation</a></li>
      <li>
        <a href="/partner/manage"> 🤝 Partners </a>
      </li>
      <a href="/analytics-dashboard">
    📊 Website Analytics
</a>
      <a href="/logout">🚪 Logout</a>
    </div>

    
    <div class="main">
      
    <h1>Manage Gallery</h1>
    <div class="manage-gallery-box">
      
    <a href="{{ url_for('gallery.gallery_upload') }}"> Upload New Gallery </a>

    <br /><br />

    <table border="1" cellpadding="10">
      <tr>
        <th>ID</th>

        <th>Image</th>

        <th>Title</th>

        <th>Action</th>
      </tr>

      {% for photo in photos %}

      <tr>
        <td>{{ photo[0] }}</td>

        <td>
          <img
            src="{{ url_for(
                    'static',
                    filename='uploads/gallery/' + photo[2]
                ) }}"
            width="120"
          />
        </td>

        <td>{{ photo[1] }}</td>

        <td>
          <a class="edit"
            href="{{ url_for(
                'gallery.gallery_edit',
                id=photo[0]
            ) }}"
          >
            Edit
          </a>

          |

          <a class= "delete"
            href="{{ url_for(
                    'gallery.gallery_delete',
                    id=photo[0]
                ) }}"
            onclick="
              return confirm('Are you sure you want to delete this image?');
            "
          >
            Delete
          </a>
        </td>
      </tr>

      {% endfor %}
    </table>
    </div>
    </div>
  </body>
</html>
