<!doctype html>
<html>
  <head>
    <title>Manage Gallery</title>
  </head>

  <body>
    <h1>Manage Gallery</h1>

    <br />

    <a href="/gallery/upload"> Upload New Image </a>

    <br /><br />

    <table border="1" cellpadding="10">
      <tr>
        <th>ID</th>

        <th>Image</th>

        <th>Title</th>

        <th>Action</th>
      </tr>

      {% for photo in photos %}

      <tr>
        <td>{{ photo[0] }}</td>

        <td>
          <img
            src="{{ url_for('static', filename='uploads/gallery/' + photo[2]) }}"
            width="120"
          />
        </td>

        <td>{{ photo[1] }}</td>

        <td>
          <a href="/gallery/edit/{{ photo[0] }}"> Edit </a>

          |

          <a
            href="/gallery/delete/{{ photo[0] }}"
            onclick="
              return confirm('Are you sure you want to delete this image?');
            "
          >
            Delete
          </a>
        </td>
      </tr>

      {% endfor %}
    </table>
  </body>
</html>
