<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/css/admin.css" />
  <title>Manage Team</title>
</head>
<body>
  
    <div class="sidebar">
      <h2> Project Mehar</h2>
      <a href="/dashboard">🏠 Dashboard</a>
      <a href="/gallery">🖼 Gallery</a>
      <a href="/gallery/upload">📤 Manage Gallery</a>
      <a href="/messages">📞 View Messages</a>
      
        <a href="/manage-news"> 📰 Manage News </a>
      </li>
      <li><a href="/manage-team">💡Manage Team</a></li>
      <li><a href="/manage-donation">❤️ Manage Donation</a></li>
      <li>
        <a href="/partner/manage"> 🤝 Partners </a>
      </li>
      <a href="/analytics-dashboard">
    📊 Website Analytics
</a>
      <a href="/logout">🚪 Logout</a>
    </div>

  <div class="main">
    
      <h2>Manage Team</h2>

<div class="team-box">

<form method="POST" enctype="multipart/form-data">
  Name

  <br />

  <input type="text" name="name" required />

  <br /><br />

  Designation

  <br />

  <input type="text" name="designation" required />

  <br /><br />

  Description

  <br />

  <textarea name="description"></textarea>

  <br /><br />

  Photo

  <br />

  <input type="file" name="image" />

  <br /><br />

  <button>Add Member</button>
</form>

<hr />

<table cellpadding="10">
  <tr>
    <th>Photo</th>

    <th>Name</th>

    <th>Designation</th>

    <th>Action</th>
  </tr>

  {% for member in members %}

  <tr>
    <td>
      <img
        src="{{ url_for('static',filename='images/' + member[3]) }}"
        width="80"
      />
    </td>

    <td>{{ member[1] }}</td>

    <td>{{ member[2] }}</td>

    <td>
      <a class="edit" href="/edit-team/{{ member[0] }}">Edit</a>

      |

      <a class="delete"
        href="/delete-team/{{ member[0] }}"
        onclick="return confirm('Delete Member?');"
      >
        Delete
      </a>
    </td>
  </tr>

  {% endfor %}
</table>
    </div>
  </div>
</body>
</html>
