<!doctype html>
<html lang="en">
  <head>
    <title>Our Programs</title>

    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    <!-- Navbar -->

    <nav>
      <div class="logo">NGO Management System</div>

      <ul>
        <li><a href="/">Home</a></li>

        <li><a href="/programs">Programs</a></li>
        <li><a href="/team">Our Team</a></li>
        <li><a href="/gallery">Gallery</a></li>

        <li><a href="/donate">Donate</a></li>
        <li><a href="/about">About</a></li>

        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <!-- Programs -->

    <section class="program-page">
      <h1>Our Programs</h1>

      <p>
        We work to improve the lives of street children through education,
        support, and essential learning resources.
      </p>

      <div class="program-box">
        <img src="../static/images/hero.jpg" />

        <div>
          <h2>Free Education</h2>

          <p>
            We provide free education to street children through learning
            centers and community classes to help them build a better future.
          </p>
        </div>
      </div>

      <div class="program-box">
        <img src="../static/images/bookDistribution.jpg" />

        <div>
          <h2>Book Distribution</h2>

          <p>
            We distribute books, notebooks and study materials so children can
            continue their education without financial difficulties.
          </p>
        </div>
      </div>

      <div class="program-box">
        <img src="../static/images/schoolBagDistribution.jpg" />

        <div>
          <h2>School Bag Distribution</h2>

          <p>
            Every year we provide school bags and educational kits to children
            from poor families.
          </p>
        </div>
      </div>

      <div class="program-box">
        <img src="../static/images/careerGuidline.jpg" />

        <div>
          <h2>Career Guidance</h2>

          <p>Helping students choose a better future..</p>
        </div>
      </div>
    </section>

    <footer>
      <p>© 2026 Bright Future Foundation | All Rights Reserved</p>
    </footer>
  </body>
</html>
